In [66]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN,AgglomerativeClustering
from sklearn.metrics import silhouette_score

In [67]:
df = pd.read_csv("../Datasets/indian_population_data.csv")
df = df.dropna()
df = df[(df['India/ State/ Union Territory/ District/ Sub-district']=='STATE') & (df['Total/\nRural/\nUrban']=='Total')]
df

,State Code,District Code,Sub District Code,India/ State/ Union Territory/ District/ Sub-district,Name,Total/\nRural/\nUrban,No_of_villages_inhabited,No_of_villages_unhabited,Number of towns,Number of households,Population-persons,Population-male,Population-female,Area\n (In sq. km),Population per sq. km.
4,1,0,0,STATE,JAMMU & KASHMIR @&,Total,6337,216,122,2119718,12541302,6640662,5900640,222236.0,124.0
319,2,0,0,STATE,HIMACHAL PRADESH,Total,17882,2808,59,1483280,6864602,3481873,3382729,55673.0,123.0
709,3,0,0,STATE,PUNJAB,Total,12168,413,217,5513071,27743338,14639465,13103873,50362.0,551.0
1003,4,0,0,STATE,CHANDIGARH,Total,5,0,6,241173,1055450,580663,474787,114.0,9258.0
1012,5,0,0,STATE,UTTARAKHAND,Total,15745,1048,115,2056975,10086292,5137773,4948519,53483.0,189.0
1288,6,0,0,STATE,HARYANA,Total,6642,199,154,4857524,25351462,13494734,11856728,44212.0,573.0
1576,7,0,0,STATE,NCT OF DELHI,Total,103,9,113,3435999,16787941,8987326,7800615,1483.0,11320.0
1687,8,0,0,STATE,RAJASTHAN,Total,43264,1408,297,12711146,68548437,35550997,32997440,342239.0,200.0
2521,9,0,0,STATE,UTTAR PRADESH,Total,97814,8960,915,33448035,199812341,104480510,95331831,240928.0,829.0
3673,10,0,0,STATE,BIHAR,Total,39073,5801,199,18913565,104099452,54278157,49821295,94163.0,1106.0
5392,11,0,0,STATE,SIKKIM,Total,425,26,9,129006,610577,323070,287507,7096.0,86.0
5434,12,0,0,STATE,ARUNACHAL PRADESH,Total,5258,331,27,270577,1383727,713912,669815,83743.0,17.0
6049,13,0,0,STATE,NAGALAND,Total,1400,28,26,396002,1978502,1024649,953853,16579.0,119.0
6427,14,0,0,STATE,MANIPUR,Total,2515,67,51,557859,2855794,1438586,1417208,22327.0,128.0
6571,15,0,0,STATE,MIZORAM,Total,704,126,23,222853,1097206,555339,541867,21081.0,52.0
6685,16,0,0,STATE,TRIPURA,Total,863,12,42,855556,3673917,1874376,1799541,10486.0,350.0
6832,17,0,0,STATE,MEGHALAYA,Total,6459,380,22,548059,2966889,1491832,1475057,22429.0,132.0
6973,18,0,0,STATE,ASSAM,Total,25372,1023,214,6406471,31205576,15939443,15266133,78438.0,398.0
7609,19,0,0,STATE,WEST BENGAL,Total,37469,2734,909,20380315,91276115,46809027,44467088,88752.0,1028.0
8749,20,0,0,STATE,JHARKHAND,Total,29492,2902,228,6254781,32988134,16930315,16057819,79716.0,414.0
9601,21,0,0,STATE,ODISHA,Total,47675,3636,223,9637820,41974218,21212136,20762082,155707.0,270.0
11125,22,0,0,STATE,CHHATTISGARH,Total,19567,559,182,5650724,25545198,12832895,12712303,135192.0,189.0
11629,23,0,0,STATE,MADHYA PRADESH,Total,51929,2974,476,15093256,72626809,37612306,35014503,308252.0,236.0
12808,24,0,0,STATE,GUJARAT,Total,17843,382,348,12248428,60439692,31491260,28948432,196244.0,308.0
13564,25,0,0,STATE,DAMAN & DIU,Total,19,0,8,60956,243247,150301,92946,111.0,2191.0
13579,26,0,0,STATE,DADRA & NAGAR HAVELI,Total,65,0,6,76458,343709,193760,149949,491.0,700.0
13588,27,0,0,STATE,MAHARASHTRA,Total,40959,2706,534,24421519,112374333,58243056,54131277,307713.0,365.0
14767,28,0,0,STATE,ANDHRA PRADESH,Total,26286,1514,353,21022588,84580777,42442146,42138631,275045.0,308.0
18223,29,0,0,STATE,KARNATAKA,Total,27397,1943,347,13357027,61095297,30966657,30128640,191791.0,319.0
18856,30,0,0,STATE,GOA,Total,320,14,70,343611,1458545,739140,719405,3702.0,394.0
18898,31,0,0,STATE,LAKSHADWEEP,Total,6,15,6,11574,64473,33123,31350,30.0,2149.0
18934,32,0,0,STATE,KERALA,Total,1017,1,520,7853754,33406061,16027412,17378649,38852.0,860.0
19168,33,0,0,STATE,TAMIL NADU,Total,15049,930,1097,18524982,72147030,36137975,36009055,130060.0,555.0
19915,34,0,0,STATE,PUDUCHERRY,Total,90,0,10,302450,1247953,612511,635442,490.0,2547.0
19954,35,0,0,STATE,ANDAMAN & NICOBAR ISLANDS,Total,396,159,5,94551,380581,202871,177710,8249.0,46.0

In [68]:
dfc = df.copy()
dfc = dfc[['No_of_villages_inhabited',
       'No_of_villages_unhabited', 'Number of towns', 'Number of households',
       'Population-persons', 'Population-male', 'Population-female',
       'Area\n (In sq. km)', 'Population per sq. km.']]
dfc

,No_of_villages_inhabited,No_of_villages_unhabited,Number of towns,Number of households,Population-persons,Population-male,Population-female,Area\n (In sq. km),Population per sq. km.
4,6337,216,122,2119718,12541302,6640662,5900640,222236.0,124.0
319,17882,2808,59,1483280,6864602,3481873,3382729,55673.0,123.0
709,12168,413,217,5513071,27743338,14639465,13103873,50362.0,551.0
1003,5,0,6,241173,1055450,580663,474787,114.0,9258.0
1012,15745,1048,115,2056975,10086292,5137773,4948519,53483.0,189.0
1288,6642,199,154,4857524,25351462,13494734,11856728,44212.0,573.0
1576,103,9,113,3435999,16787941,8987326,7800615,1483.0,11320.0
1687,43264,1408,297,12711146,68548437,35550997,32997440,342239.0,200.0
2521,97814,8960,915,33448035,199812341,104480510,95331831,240928.0,829.0
3673,39073,5801,199,18913565,104099452,54278157,49821295,94163.0,1106.0
5392,425,26,9,129006,610577,323070,287507,7096.0,86.0
5434,5258,331,27,270577,1383727,713912,669815,83743.0,17.0
6049,1400,28,26,396002,1978502,1024649,953853,16579.0,119.0
6427,2515,67,51,557859,2855794,1438586,1417208,22327.0,128.0
6571,704,126,23,222853,1097206,555339,541867,21081.0,52.0
6685,863,12,42,855556,3673917,1874376,1799541,10486.0,350.0
6832,6459,380,22,548059,2966889,1491832,1475057,22429.0,132.0
6973,25372,1023,214,6406471,31205576,15939443,15266133,78438.0,398.0
7609,37469,2734,909,20380315,91276115,46809027,44467088,88752.0,1028.0
8749,29492,2902,228,6254781,32988134,16930315,16057819,79716.0,414.0
9601,47675,3636,223,9637820,41974218,21212136,20762082,155707.0,270.0
11125,19567,559,182,5650724,25545198,12832895,12712303,135192.0,189.0
11629,51929,2974,476,15093256,72626809,37612306,35014503,308252.0,236.0
12808,17843,382,348,12248428,60439692,31491260,28948432,196244.0,308.0
13564,19,0,8,60956,243247,150301,92946,111.0,2191.0
13579,65,0,6,76458,343709,193760,149949,491.0,700.0
13588,40959,2706,534,24421519,112374333,58243056,54131277,307713.0,365.0
14767,26286,1514,353,21022588,84580777,42442146,42138631,275045.0,308.0
18223,27397,1943,347,13357027,61095297,30966657,30128640,191791.0,319.0
18856,320,14,70,343611,1458545,739140,719405,3702.0,394.0
18898,6,15,6,11574,64473,33123,31350,30.0,2149.0
18934,1017,1,520,7853754,33406061,16027412,17378649,38852.0,860.0
19168,15049,930,1097,18524982,72147030,36137975,36009055,130060.0,555.0
19915,90,0,10,302450,1247953,612511,635442,490.0,2547.0
19954,396,159,5,94551,380581,202871,177710,8249.0,46.0

In [69]:
# Scaling
scaler = StandardScaler()
dfc = pd.DataFrame(scaler.fit_transform(dfc),columns = dfc.columns,index=dfc.index)
dfc

,No_of_villages_inhabited,No_of_villages_unhabited,Number of towns,Number of households,Population-persons,Population-male,Population-female,Area\n (In sq. km),Population per sq. km.
4,-0.508983,-0.539513,-0.380149,-0.585914,-0.503383,-0.491517,-0.515932,1.254627,-0.413697
319,0.038277,0.829032,-0.608985,-0.660361,-0.632950,-0.630551,-0.635250,-0.374063,-0.414122
709,-0.232580,-0.435500,-0.035078,-0.188978,-0.156405,-0.139451,-0.174588,-0.425995,-0.232354
1003,-0.809135,-0.653559,-0.801498,-0.805656,-0.765541,-0.758248,-0.773050,-0.917331,3.465427
1012,-0.063022,-0.100227,-0.405575,-0.593253,-0.559417,-0.557667,-0.561051,-0.395477,-0.386092
1288,-0.494526,-0.548489,-0.263914,-0.265660,-0.210998,-0.189836,-0.233688,-0.486131,-0.223011
1576,-0.804490,-0.648807,-0.412840,-0.431943,-0.406455,-0.388229,-0.425897,-0.903944,4.341139
1687,1.241443,0.089848,0.255508,0.653014,0.774948,0.780969,0.768120,2.428042,-0.381421
2521,3.827241,4.077214,2.500284,3.078703,3.770972,3.814895,3.721997,1.437401,-0.114290
3673,1.042780,2.409300,-0.100460,1.378539,1.586380,1.605243,1.565362,0.002301,0.003349
5392,-0.789226,-0.639831,-0.790601,-0.818777,-0.775695,-0.769585,-0.781925,-0.849059,-0.429835
5434,-0.560130,-0.478795,-0.725219,-0.802217,-0.758048,-0.752383,-0.763808,-0.099588,-0.459139
6049,-0.743009,-0.638775,-0.728852,-0.787545,-0.744472,-0.738705,-0.750349,-0.756332,-0.415821
6427,-0.690155,-0.618183,-0.638044,-0.768612,-0.724449,-0.720486,-0.728391,-0.700127,-0.411998
6571,-0.776001,-0.587032,-0.739749,-0.807799,-0.764588,-0.759362,-0.769872,-0.712311,-0.444275
6685,-0.768464,-0.647223,-0.670735,-0.733789,-0.705776,-0.701305,-0.710273,-0.815911,-0.317717
6832,-0.503200,-0.452923,-0.743381,-0.769758,-0.721913,-0.718142,-0.725650,-0.699130,-0.410300
6973,0.393320,-0.113427,-0.045975,-0.084473,-0.077381,-0.082232,-0.072124,-0.151462,-0.297332
7609,0.966746,0.789961,2.478490,1.550112,1.293694,1.276490,1.311639,-0.050609,-0.029777
8749,0.588618,0.878663,0.004878,-0.102217,-0.036695,-0.038619,-0.034608,-0.138965,-0.290537
9601,1.450535,1.266206,-0.013284,0.293513,0.168407,0.149845,0.188316,0.604092,-0.351692
11125,0.118150,-0.358413,-0.162209,-0.172876,-0.206576,-0.218967,-0.193144,0.403491,-0.386092
11629,1.652184,0.916678,0.905694,0.931660,0.868035,0.871697,0.863704,2.095710,-0.366132
12808,0.036428,-0.451867,0.440757,0.598888,0.589871,0.602280,0.576247,1.000471,-0.335554
13564,-0.808471,-0.653559,-0.794234,-0.826737,-0.784079,-0.777190,-0.791145,-0.917360,0.464138
13579,-0.806291,-0.653559,-0.801498,-0.824924,-0.781786,-0.775277,-0.788444,-0.913644,-0.169075
13588,1.132181,0.775177,1.116369,2.022830,1.775249,1.779758,1.769602,2.090439,-0.311347
14767,0.436646,0.145815,0.458918,1.625241,1.140877,1.084282,1.201299,1.771004,-0.335554
18223,0.489310,0.372322,0.437124,0.728565,0.604835,0.579189,0.632174,0.956929,-0.330883
18856,-0.794203,-0.646167,-0.569029,-0.793673,-0.756340,-0.751272,-0.761458,-0.882246,-0.299031
18898,-0.809088,-0.645639,-0.801498,-0.832513,-0.788159,-0.782347,-0.794064,-0.918152,0.446301
18934,-0.761164,-0.653031,1.065516,0.084822,-0.027156,-0.078360,0.027983,-0.538542,-0.101125
19168,-0.096014,-0.162530,3.161367,1.333085,0.857084,0.806805,0.910833,0.353310,-0.230656
19915,-0.805106,-0.653559,-0.786969,-0.798488,-0.761147,-0.756846,-0.765437,-0.913654,0.615328
19954,-0.790601,-0.569609,-0.805131,-0.822807,-0.780944,-0.774876,-0.787128,-0.837785,-0.446823

In [70]:
cluster_tab = []
for i in range(2,8):
    kmeans = KMeans(n_clusters=i,random_state=11)
    l = kmeans.fit_predict(dfc)
    no_of_clusters = len(set(l))
    s = silhouette_score(dfc,l)
    c = {'model' : 'KMeans',
            'Parameters' : f'nclusters = {i}',
            'No_of_clusters' : no_of_clusters,
            'silhouette_score' : s}
    cluster_tab.append(c)
    
for i in range(2,6):
    j = 0.2 
    while j <= 3:
        dbscan = DBSCAN(min_samples=i,eps=j)
        l = dbscan.fit_predict(dfc)
        if len(set(l))>=2:
            no_of_clusters = len(set(l))
            s = silhouette_score(dfc,l)
            c = {'model' : 'DBSCAN',
                    'Parameters' : f'min_samples = {i} | eps = {j}',
                    'No_of_clusters' : no_of_clusters,
                    'silhouette_score' : s}
            cluster_tab.append(c)
        else:
            pass
        j = round(j+0.2,1)

for i in range(2,8):
    agglo = AgglomerativeClustering(n_clusters=i)
    l = agglo.fit_predict(dfc)
    no_of_clusters = len(set(l))
    s = silhouette_score(dfc,l)
    c = {'model' : 'Agglomerative',
            'Parameters' : f'nclusters = {i}',
            'No_of_clusters' : no_of_clusters,
            'silhouette_score' : s}
    cluster_tab.append(c)

cluster_tab = pd.DataFrame(cluster_tab)
cluster_tab.to_csv('../Datasets/ClusterNumberAnalysis.csv')
print(cluster_tab.sort_values(by='silhouette_score',ascending=False))
# cluster_tab.sort_values(by='silhouette_score',ascending=False)

            model                   Parameters  No_of_clusters  \
1          KMeans                nclusters = 3               3
68  Agglomerative                nclusters = 4               4
20         DBSCAN  min_samples = 2 | eps = 3.0               2
35         DBSCAN  min_samples = 3 | eps = 3.0               2
66  Agglomerative                nclusters = 2               2
..            ...                          ...             ...
38         DBSCAN  min_samples = 4 | eps = 0.6               2
52         DBSCAN  min_samples = 5 | eps = 0.4               2
53         DBSCAN  min_samples = 5 | eps = 0.6               2
36         DBSCAN  min_samples = 4 | eps = 0.2               2
51         DBSCAN  min_samples = 5 | eps = 0.2               2

    silhouette_score
1           0.540485
68          0.534549
20          0.532751
35          0.532751
66          0.511158
..               ...
38          0.101946
52          0.101946
53          0.101946
36          0.003550
51         -0.047800

[72 rows x 4 columns]

Final conclusion :
1. Suitable model = KMeans 
2. Parameters
    - n_clusters = 3

In [71]:
kmeans = KMeans(n_clusters=3)
clusters = kmeans.fit_predict(dfc)
dfc['Clusters'] = clusters
dfc.head(10)

,No_of_villages_inhabited,No_of_villages_unhabited,Number of towns,Number of households,Population-persons,Population-male,Population-female,Area\n (In sq. km),Population per sq. km.,Clusters
4,-0.508983,-0.539513,-0.380149,-0.585914,-0.503383,-0.491517,-0.515932,1.254627,-0.413697,1
319,0.038277,0.829032,-0.608985,-0.660361,-0.632950,-0.630551,-0.635250,-0.374063,-0.414122,1
709,-0.232580,-0.435500,-0.035078,-0.188978,-0.156405,-0.139451,-0.174588,-0.425995,-0.232354,1
1003,-0.809135,-0.653559,-0.801498,-0.805656,-0.765541,-0.758248,-0.773050,-0.917331,3.465427,1
1012,-0.063022,-0.100227,-0.405575,-0.593253,-0.559417,-0.557667,-0.561051,-0.395477,-0.386092,1
1288,-0.494526,-0.548489,-0.263914,-0.265660,-0.210998,-0.189836,-0.233688,-0.486131,-0.223011,1
1576,-0.804490,-0.648807,-0.412840,-0.431943,-0.406455,-0.388229,-0.425897,-0.903944,4.341139,1
1687,1.241443,0.089848,0.255508,0.653014,0.774948,0.780969,0.768120,2.428042,-0.381421,0
2521,3.827241,4.077214,2.500284,3.078703,3.770972,3.814895,3.721997,1.437401,-0.114290,2
3673,1.042780,2.409300,-0.100460,1.378539,1.586380,1.605243,1.565362,0.002301,0.003349,0

In [72]:
dfc['Clusters'].value_counts()

Clusters
1    24
0    10
2     1
Name: count, dtype: int64

In [73]:
df['Clsuters'] = dfc['Clusters']
df

,State Code,District Code,Sub District Code,India/ State/ Union Territory/ District/ Sub-district,Name,Total/\nRural/\nUrban,No_of_villages_inhabited,No_of_villages_unhabited,Number of towns,Number of households,Population-persons,Population-male,Population-female,Area\n (In sq. km),Population per sq. km.,Clsuters
4,1,0,0,STATE,JAMMU & KASHMIR @&,Total,6337,216,122,2119718,12541302,6640662,5900640,222236.0,124.0,1
319,2,0,0,STATE,HIMACHAL PRADESH,Total,17882,2808,59,1483280,6864602,3481873,3382729,55673.0,123.0,1
709,3,0,0,STATE,PUNJAB,Total,12168,413,217,5513071,27743338,14639465,13103873,50362.0,551.0,1
1003,4,0,0,STATE,CHANDIGARH,Total,5,0,6,241173,1055450,580663,474787,114.0,9258.0,1
1012,5,0,0,STATE,UTTARAKHAND,Total,15745,1048,115,2056975,10086292,5137773,4948519,53483.0,189.0,1
1288,6,0,0,STATE,HARYANA,Total,6642,199,154,4857524,25351462,13494734,11856728,44212.0,573.0,1
1576,7,0,0,STATE,NCT OF DELHI,Total,103,9,113,3435999,16787941,8987326,7800615,1483.0,11320.0,1
1687,8,0,0,STATE,RAJASTHAN,Total,43264,1408,297,12711146,68548437,35550997,32997440,342239.0,200.0,0
2521,9,0,0,STATE,UTTAR PRADESH,Total,97814,8960,915,33448035,199812341,104480510,95331831,240928.0,829.0,2
3673,10,0,0,STATE,BIHAR,Total,39073,5801,199,18913565,104099452,54278157,49821295,94163.0,1106.0,0
5392,11,0,0,STATE,SIKKIM,Total,425,26,9,129006,610577,323070,287507,7096.0,86.0,1
5434,12,0,0,STATE,ARUNACHAL PRADESH,Total,5258,331,27,270577,1383727,713912,669815,83743.0,17.0,1
6049,13,0,0,STATE,NAGALAND,Total,1400,28,26,396002,1978502,1024649,953853,16579.0,119.0,1
6427,14,0,0,STATE,MANIPUR,Total,2515,67,51,557859,2855794,1438586,1417208,22327.0,128.0,1
6571,15,0,0,STATE,MIZORAM,Total,704,126,23,222853,1097206,555339,541867,21081.0,52.0,1
6685,16,0,0,STATE,TRIPURA,Total,863,12,42,855556,3673917,1874376,1799541,10486.0,350.0,1
6832,17,0,0,STATE,MEGHALAYA,Total,6459,380,22,548059,2966889,1491832,1475057,22429.0,132.0,1
6973,18,0,0,STATE,ASSAM,Total,25372,1023,214,6406471,31205576,15939443,15266133,78438.0,398.0,1
7609,19,0,0,STATE,WEST BENGAL,Total,37469,2734,909,20380315,91276115,46809027,44467088,88752.0,1028.0,0
8749,20,0,0,STATE,JHARKHAND,Total,29492,2902,228,6254781,32988134,16930315,16057819,79716.0,414.0,1
9601,21,0,0,STATE,ODISHA,Total,47675,3636,223,9637820,41974218,21212136,20762082,155707.0,270.0,0
11125,22,0,0,STATE,CHHATTISGARH,Total,19567,559,182,5650724,25545198,12832895,12712303,135192.0,189.0,1
11629,23,0,0,STATE,MADHYA PRADESH,Total,51929,2974,476,15093256,72626809,37612306,35014503,308252.0,236.0,0
12808,24,0,0,STATE,GUJARAT,Total,17843,382,348,12248428,60439692,31491260,28948432,196244.0,308.0,0
13564,25,0,0,STATE,DAMAN & DIU,Total,19,0,8,60956,243247,150301,92946,111.0,2191.0,1
13579,26,0,0,STATE,DADRA & NAGAR HAVELI,Total,65,0,6,76458,343709,193760,149949,491.0,700.0,1
13588,27,0,0,STATE,MAHARASHTRA,Total,40959,2706,534,24421519,112374333,58243056,54131277,307713.0,365.0,0
14767,28,0,0,STATE,ANDHRA PRADESH,Total,26286,1514,353,21022588,84580777,42442146,42138631,275045.0,308.0,0
18223,29,0,0,STATE,KARNATAKA,Total,27397,1943,347,13357027,61095297,30966657,30128640,191791.0,319.0,0
18856,30,0,0,STATE,GOA,Total,320,14,70,343611,1458545,739140,719405,3702.0,394.0,1
18898,31,0,0,STATE,LAKSHADWEEP,Total,6,15,6,11574,64473,33123,31350,30.0,2149.0,1
18934,32,0,0,STATE,KERALA,Total,1017,1,520,7853754,33406061,16027412,17378649,38852.0,860.0,1
19168,33,0,0,STATE,TAMIL NADU,Total,15049,930,1097,18524982,72147030,36137975,36009055,130060.0,555.0,0
19915,34,0,0,STATE,PUDUCHERRY,Total,90,0,10,302450,1247953,612511,635442,490.0,2547.0,1
19954,35,0,0,STATE,ANDAMAN & NICOBAR ISLANDS,Total,396,159,5,94551,380581,202871,177710,8249.0,46.0,1